NEXT_PUBLIC_API_URL=http://localhost:8000

# Supabase → Project Settings → API Keys (publishable key)
NEXT_PUBLIC_SUPABASE_URL=https://jzegvgstpkvzibggogcq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0zdxhSgcGVl_09MpypqCUQ_xXNIwcfi
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key